@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/Muller Regular.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TrajanPro3';
    src: url('../fonts/TrajanPro3.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
